@import "vars";
@import "fonts";
@import "libs";

@import "_mixins/adaptive-font";

// @include adaptive-font(24, 12)

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: $white;
}

body {
	font-size: 16px;
	font-weight: 500;
	min-width: 320px;
	position: relative;
	line-height: 1.2;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	padding: 0;
	margin: 0;

	input, textarea {
		border: #666 1px solid;
		outline: none;

		&:focus:required:invalid {
			border-color: #FF5F00;
		}

		// &:focus {
		// 	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
		// }
	}

	&.lock {
		overflow: hidden;
	}
}

img {
	height: auto;
	width: 100%;
}

b, strong {
	font-weight: 600;
}

a {
	text-decoration: none;
	cursor: pointer;
	display: block;

	&:hover {
		text-decoration: none;
	}
}

p, ul, li {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}

button {
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
	outline: none;
}

.container {
	max-width: 1210px;
	margin: 0 auto;
	padding: 0 20px;
	width: 100%;
}

.button {
	font-weight: 500;
	text-align: center;
	padding: 18px 20px;
	font-size: 16px;
	font-family: $default-font;
	cursor: pointer;
	background-color: $primary;
	color: $text;
	transition: .3s all ease;

	&:hover {
		box-shadow: inset 0 0 0 30px rgba(255, 255, 255, .1);
	}
}


.header {
	background-color: $white;

	&__row {
		padding-top: 40px;
		padding-bottom: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
	}
	
	&__logo {
		max-width: 212px;
		width: 100%;
	}

	&__info {
		display: flex;
		align-items: center;
		gap: 40px;
		flex: 1 1 100%;
    justify-content: flex-end;
	}
}

.main-menu {
	&__list {
		display: flex;
		align-items: center;
		gap: 45px;
	}
	
	&__link {
		font-size: 18px;
		font-weight: 600;
		color: $black;
	}
}

.header-languages {
	display: flex;
	align-items: center;

	&__radio {
		display: none;

		&:checked + .header-languages__label .header-languages__text {
			color: $white;
			border-radius: 10px;
			background-color: #166DB7;
			padding: 0 7px;
		}
	}

	&__label {
		cursor: pointer;
		padding: 0 4px;
	}

	&__text {
		color: $black;
		font-size: 18px;
		font-weight: 600;
		padding: 0 7px;
	}
}

.header-button-menu {
	display: none;
}

.main-info {
	background-image: url(../img/main-pic.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% 100%;
	padding: 88px 0 96px;
}





/************* Media *****************************/
@media (max-width: 1100px) {
	.header {
		&__info {
			gap: 20px;
		}
	}

	.main-menu {
		&__list {
			gap: 15px;
		}
	}
}


@media (max-width: 900px) {
	.header {
		&__info {
			gap: 5px;

			&-block {
				display: none;
			}
		}

		&__row {
			padding: 28px 0;
		}
	}

	.main-menu {
		&__list {
			flex-direction: column;
			align-items: flex-start;
		}
	}


	.header-button-menu {
		display: block;

		&__icon {
			display: block;
			background: none;
			width: 25px;
			height: 18px;
			color: $white;
			position: relative;
	
			&:before,
			&:after {
				content: '';
				width: 24px;
				height: 18px;
				border: 0 solid $black;
				display: block;
				box-sizing: border-box;
				position: absolute;
				top: 0;
				right: 0;
				transition: 500ms;
			}
	
			&:before {
				border-width: 2px 0;
				background: linear-gradient(to bottom, transparent calc(50% - 2px / 2), $black 0 calc(50% + 2px / 2), transparent 0);
			}
	
			&::after {
				background: linear-gradient(to bottom, transparent calc(50% - 2px / 2), $black 0 calc(50% + 2px / 2), transparent 0), linear-gradient(to right, transparent calc(50% - 2px / 2), $black 0 calc(50% + 2px / 2), transparent 0);
				transform: rotate(45deg) scale(0);
				opacity: 0;
			}
		}

		&__body {
			z-index: 2;
			position: fixed;
			width: 100%;
			min-height: 100vh;
			top: 104px;
			left: 0;
			background: $primary;
			overflow: auto;
			transform: translateX(-100%);
			transition: all .5s ease;
			padding: 43px 20px;

			&.active {
				-webkit-transform: translateY(0);
				-ms-transform: translateY(0);
				transform: translateX(0px);
				display: flex;
				flex-direction: column;
				align-items: flex-start;
			}
		}

		.languages-select {
			display: none;
		}
	}

	.header-menu-open .header-button-menu__icon::before {
		transform: scale(0);
		opacity: 0;
	}

	.header-menu-open .header-button-menu__icon::after {
		transform: rotate(45deg);
		opacity: 1;
		width: 20px;
		height: 20px;
		top: -2px;
		right: 4px;
	}

	.header-languages {
		&__label {
			padding: 0 2px;
		}
	}
}


@media (max-width: 600px) {

}


@media (max-width: 350px) {

}



